
.plan-storage__storage-label,
.plan-storage__storage-link {
	font-size: 11px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
}

.plan-storage__storage-label {
	color: $gray-dark;
	font-weight: 500;
	margin-right: 10px;
}

.plan-storage__storage-link {
	float: right;
}

.plan-storage__block {
	line-height: 12px;
	display: inline-block;
}

.plan-storage__bar .progress-bar__progress {
	background-color: $alert-green;
}

.plan-storage__block.is-warn .progress-bar__progress {
	background-color: $alert-yellow;
}

.plan-storage__block.is-alert .progress-bar__progress {
	background-color: $alert-red;
}
